{
  "plugins": [
    "add-module-exports",
    "transform-async-to-generator",
    [
      "nessa/library/transpiler",
      {
        "require": {
          "utilities": "./library/utilities"
        }
      }
    ]
  ],
  "presets": [
    "es2015",
    "stage-0"
  ]
}
