.attendance
  if !Is.emptyObject(attendance)

    header.mdc-toolbar.mdc-toolbar--fixed
      div.mdc-toolbar__row
        section.mdc-toolbar__section.mdc-toolbar__section--align-start
          span.mdc-toolbar__title
            = attendance.meetingDescription
        section.mdc-toolbar__section.mdc-toolbar__section--align-end
          a#refresh.material-icons.mdc-toolbar__icon--menu(href='#') 
            | refresh
            
      //- div.mdc-toolbar__row
      //-   div#progress.mdc-linear-progress.mdc-linear-progress--indeterminate
      //-     div.mdc-linear-progress__buffering-dots
      //-     div.mdc-linear-progress__buffer
      //-     div.mdc-linear-progress__bar.mdc-linear-progress__primary-bar
      //-       span.mdc-linear-progress__bar-inner
      //-     div.mdc-linear-progress__bar.mdc-linear-progress__secondary-bar
      //-       span.mdc-linear-progress__bar-inner
                    
    ul.attendees.mdc-toolbar-fixed-adjust.mdc-list
      each attendee in attendance.attendees
        li.attendee.mdc-list-item
          span.mdc-list-item__text
            = attendee.userName
            //- span.mdc-list-item__text__secondary
            //-   span(style='font-weight: bold')
            //-     if attendee.attended
            //-       | is
            //-     else
            //-       | is not
            //-   |  attending
          a.attendee.mdc-list-item__end-detail.material-icons(data-meeting-id=attendance.meetingId
                                                              data-user-id=attendee.userId
                                                              data-attended=attendee.attended)
            if attendee.attended
              | check_box
            else
              | check_box_outline_blank

  else
    p No attendance data ...
